.resumeHome {
    background-color: #222320;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
    align-items: center;
    background: rgb(38,38,38);
    background: linear-gradient(0deg, rgba(38,38,38,1) 20%, rgba(42,64,83,1) 90%);
}

.resumeInfo {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 20px;
}

.resumeIntro{
    margin-left: 25rem;
    margin-right: 25rem;
}